<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hej med {{ current_user.firstname }}</h1>
<form action='' method="post" enctype="multipart/form-data" class="form-group">
    {{ UploadPictureForm.csrf_token }}
    {{ UploadPictureForm.picture.label }}
    {{ UploadPictureForm.picture(class="form-control-file") }}
    {{ UploadPictureForm.submit (placeholder='Upload picture') }}
</form>
{% block content %}
    {% if image_list %}
        {% for image in image_list %}
            <img src=" {{ url_for('static', filename='pictures/' + image.image_name) }}">
            <p><a href="{{ url_for('comment', filename='pictures/' + image.image_name, id=image.id) }}">Click her to write a comment</a></p>
        {% endfor %}
    {% endif %}
{% endblock content %}
</body>
</html>