<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Login</title>
</head>
<body>
    <div class="login-page">
        <h1 class="login-page__h1">Please login to your account</h1>
    </div>

    <form action='' method='post' class="login-form">
        <fieldset class="login-form__fieldset">
            <input type='text' name='username' id='username' placeholder='Username' class="login-form__input"/>
            <input type='password' name='password' id='password' placeholder='Password' class="login-form__input"/>
            <input type='submit' name='submit_login' class="login-form__submit"/>
        </fieldset>
    </form>
</body>
</html>